# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.venv
.Python

# VS Code settings
.vscode/

# Docker-related local overrides
docker-compose.override.yml

# OS files
.DS_Store
